<header class="cd-header">
	<div id="cd-logo">
		<a href="#0"><img src="assets/icons/svg/bedge.svg" alt="Logo">
			<span>Status</span>
		</a>
	</div>
	<nav class="cd-main-nav">
		<ul>
			<li><a href="#0">Intro</a></li>
			<li><a href="#0">Pricing</a></li>
			<li><a href="#0">Contact Us</a></li>
		</ul>
	</nav>
</header>

<main class="cd-main-content">
	<div class="cd-fixed-bg cd-bg-1">
		<div class="cd-intro">
			<h1>Share your status with the world</h1>
			<a href="/start" class="btn cd-btn btn-default" role="button">Start Evaluation</a>
		</div>
	</div>

	<div class="cd-scrolling-bg cd-color-1">
		<div class="cd-container">
			<div class="cd-container-text">
				<h1>What you will get</h1>
				<p>
					A nice and tidy platform for sharing all your achievements with the world. It doesn't matter if you did a small or big step towards your goal, just share your progress!
				</p>
				<p>
					Status is here to record and share your achievements with the community.
				</p>
			</div>
			<div class="cd-container-img">
				<img src="assets/ipad_screen.jpg" alt="ipadScreen">
			</div>
		</div>
	</div>

	<div class="cd-fixed-bg cd-bg-2">
		<h2>Recent status changes</h2>
	</div>

	<div class="cd-scrolling-bg cd-color-1">
		<div class="cd-container">
			<div class="cd-container-title">
				<h1>Simple plans yet affordable prices</h1>
			</div>

	<div class="cd-pricing-container cd-has-margins">
		<div class="cd-pricing-switcher">
			<p class="fieldset">
				<input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
				<label for="monthly-2">Monthly</label>
				<input type="radio" name="duration-2" value="yearly" id="yearly-2">
				<label for="yearly-2">Yearly</label>
				<span class="cd-switch"></span>
			</p>
		</div> <!-- .cd-pricing-switcher -->

		<ul class="cd-pricing-list cd-bounce-invert">
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Basic</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">3</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>100</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Basic</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">32</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>1200</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li class="cd-popular">
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Popular</h2>
							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">6</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>200</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">63</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>2400</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">9</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>400</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">95</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>4800</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> <!-- .cd-pricing-container -->	



		</div>
	</div>

	<div class="cd-fixed-bg cd-bg-4">
		<h2>We are happy to hear from you</h2>
		<div id="cd-google-map">
			<div id="google-container"></div>
			<div id="cd-zoom-in"></div>
			<div id="cd-zoom-out"></div>
			<address>86-90 Paul Street, London, EC2A 4NE</address> 
		</div>
	</div>

</main>