/* -------------------------------- 
Main components 
-------------------------------- */

$blue	 	: #48a1db;
$blue-light	: #50B4F5;
$red	 	: #e97d68;
$red-light	: #ec907e;

.cd-main-content {
	height: 100%;
	position: relative;
	z-index: 1;
}

.cd-intro {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	width: 90%;
	max-width: 1170px;
}
.cd-intro h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.cd-btn {
	display: inline-block;
	padding: 1em 1.8em;
	background-color: $red;
	margin-top: 1em;
	border-radius: 20em;
	color: white !important;
}
.cd-btn:hover {
	background-color: $red-light;
}

.cd-fixed-bg {
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
	text-align: center;
	font-size: 1.875rem;	
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	color: white;
}
.cd-fixed-bg h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	max-width: 1170px;
}
.cd-fixed-bg.cd-bg-1 {
	background-image: image-url("bikes.jpg");
}
.cd-fixed-bg.cd-bg-2 {
	background-image: image-url("watch.jpg");
}
.cd-fixed-bg.cd-bg-3 h2 {
	top: 40px;
	z-index: 6;
}
.cd-fixed-bg.cd-bg-3 {
	min-height: 0 !important;
	height: 500px !important;
}


@media only screen and (min-width: 768px) {
	.cd-fixed-bg h1, .cd-fixed-bg h2 {
		font-size: 36px;
		font-weight: 300;
	}
	.cd-fixed-bg.cd-bg-3 {
		min-height: 0 !important;
		height: 500px !important;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-fixed-bg {
		background-attachment: fixed;
	}
	.cd-fixed-bg h1, .cd-fixed-bg h2 {
		font-size: 48px;
		font-weight: 300;
	}
	.cd-fixed-bg.cd-bg-3 {
		min-height: 0 !important;
		height: 540px !important;
	}
}

.cd-scrolling-bg {
	position: relative;
	height: 600px;
	padding: 1em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.cd-scrolling-bg h1 {
	font-weight: 400;
	color: $blue;
}

.cd-scrolling-bg.cd-color-1 {
	background-color: white;
}

@media only screen and (min-width: 768px) {
	.cd-scrolling-bg {
		padding: 1em 0;
		font-size: 1.25rem;
		line-height: 2;
		font-weight: 300;
	}
}