/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */

.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container-text {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 50%;
	float: left;
	max-width: 768px;
	margin: 0 auto;
}
.cd-container-img {
	margin: 76px 0 0 0;
	float: right;
	z-index: 0;
}
.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}