/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */

.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

.cd-container-img img {
	margin: 60px 25% 0 25%;
	width: 50%;
	height: auto;
}

.cd-container-title {
	text-align: center;
}

.cd-container-text {
	width: 50%;
	max-width: 768px;
	margin: 0 auto;
}

.cd-container h1 {
	font-size: 1.5rem;
}


@media only screen and (min-width: 1170px) {
	.cd-container-text {
		float: left;
	}
	.cd-container-img img {
		margin: 76px 0 0 0;
		width: auto;
		height: auto;
		float: right;
	}
}


