/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */

$blue	 	: #48a1db;

.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 2;
}
.cd-header:after {
	content: "";
	display: table;
	clear: both;
}
.cd-header #cd-logo {
	display: inline-block;
	float: left;
	margin: 10px 0 0 5%;
	width: 180px;
}
.cd-header #cd-logo span {
	font-size: 2rem;
	float: right;
	vertical-align: top;
	top: 10px;
	margin: 5px 10px 0 0;
	color: $blue;
}

@media only screen and (min-width: 768px) {
	.cd-header {
		height: 70px;
	}
	.cd-header #cd-logo {
		margin: 10px 0 0 5%;
	}
}

.cd-main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: image-url("icons/svg/menu-icon.svg") no-repeat center center;
	background-size: 44px 44px;
	cursor: pointer;
}
.cd-main-nav ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
	-webkit-transform: translateY(70px);
	-moz-transform: translateY(70px);
	-ms-transform: translateY(70px);
	-o-transform: translateY(70px);
	transform: translateY(70px);
}
.cd-main-nav a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 5%;
	background: white;
	border-top: 1px solid $blue;
	color: $blue;
}

@media only screen and (min-width: 768px) {
	.cd-main-nav {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;
	}
	.cd-main-nav ul {
		position: static;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		line-height: 40px;
	}
	.cd-main-nav ul.is-visible {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.cd-main-nav li {
		display: inline-block;
		margin-left: 1em;
	}
	.cd-main-nav a {
		display: inline-block;
		height: auto;
		line-height: normal;
		background: transparent;
		padding: 1.6em 1em;
		border-top: none;
		color: $blue;
		text-transform: uppercase;
		font-size: 14px;
		font-size: 0.875rem;
	}
}