<footer class="cd-footer">
	<hr>
	<div class="cd-footer-text">
		<p>The webpage was made for fun! Will love your feedback and suggestions.</p>
		<ul>
			<li>
				<a href="https://github.com/tterian">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/TigranTerian">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/Tigran.Terian">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
	</div>
</footer> 