<footer class="cd-footer">
	<hr>
	<div class="cd-footer-text">
		<p>The webpage was made for fun, enjoy. Will love your feedback and suggestions.</p>
		<ul>
			<li><a href="https://github.com/tterian">GitHub</a></li>
			<li><a href="https://www.facebook.com/Tigran.Terian">Facebook</a></li>
			<li><a href="https://twitter.com/TigranTerian">Twitter</a></li>
		</ul>
	</div>
</footer> 