<header class="cd-header">
	<div id="cd-logo">
		<a href="#0"><img src="assets/icons/svg/bedge.svg" alt="Logo">
			<span>Status</span>
		</a>
	</div>
	<nav class="cd-main-nav">
		<ul>
			<li><a href="#0">Intro</a></li>
			<li><a href="#0">Pricing</a></li>
			<li><a href="#0">Contact Us</a></li>
		</ul>
	</nav>
</header>