	<div class="cd-pricing-container cd-has-margins">
		<div class="cd-pricing-switcher">
			<p class="fieldset">
				<input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
				<label for="monthly-2">Monthly</label>
				<input type="radio" name="duration-2" value="yearly" id="yearly-2">
				<label for="yearly-2">Yearly</label>
				<span class="cd-switch"></span>
			</p>
		</div> <!-- .cd-pricing-switcher -->

		<ul class="cd-pricing-list cd-bounce-invert">
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Basic</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">3</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>100</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Basic</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">32</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>1200</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li class="cd-popular">
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Popular</h2>
							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">6</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>200</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">63</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>2400</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">9</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>400</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">95</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>4800</em> Status shares</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="/">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> <!-- .cd-pricing-container -->	